<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<%= params[:question] %>
<br>
<br>
<%=
  if params[:question].last == "?"
    "Silly question, get dressed and go to work!"
  elsif params[:question] == "I am going to work"
    "Great!"
  else
    "I don't care, get dressed and go to work!"
  end
%>

<%= link_to "Ask again", ask_path %>
